*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body
{
    
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg_ex.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
}

.bg2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover;
    background-color: #01172b;
}

.ryan_logo_header
{
    width: 7%;
    border-radius: 60%;
}

footer
{
    text-align: center;
    background-color: #01172b;
}

.bg::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #01172b;
}

header .logo1
{
    position: relative;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

header .navigation1
{
    position: relative;
    display: flex;
}

header .navigation1 li
{
    list-style: none;
}

header .navigation1 li a
{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 40px;
    text-decoration: none;
}

header .navigation1 li a.active,
header .navigation1 li a:hover
{
    background: #fc7c41;
    color: #333;
}

.content .textBox a:hover
{
    background: #fc7c41;
    color: #333;
}

.offer
{
    width: 40%;
}

.offer_pic
{
    width:  200px;
    height: 200px;
    border-radius: 30%;
    padding: 20px;
}

.offer_explanation
{
    position: absolute;
    bottom: -60%;
    font-size: 1em;
    color: #fff;
    max-width: 600px;
}


.top
{
    vertical-align: top;

}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h3
{
    color: #fff;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 500;
    padding: 40px;
}

.content .offer_p
{
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    font-weight: 300;
    text-align: center;
    position: relative;
}

.content .textBox2
{
    position: absolute;
    top: -50%;
    font-size: 3em;
    color: #fff;
    max-width: 600px;
}

.content .textBox
{
    position: relative;
    max-width: 600px;
}

.content .textBox h2
{
    color: #fff;
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
}

.content .textBox p
{
    color: #fff;
    margin-top: 20px ;
}

.content .textBox a
{
    display: inline-block;
    margin-top: 40px;
    padding: 8px 20px;
    background: #fff;
    color: #333;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox
{
    position: relative;
    z-index: 1;
    width: 600px;
    display: flex;
    justify-content: flex-end;

}

.content .imgBox img
{
    max-width: 400px;
    border-radius: 10px;
}

.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateY(-50%);
    display: flex;
}

.thumb li
{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s;
    height: 55px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.thumb li.active
{
    border: 2px solid rgba(255, 255, 255, 1);
}

.thumb li::before
{
    position: absolute;
    top: -105px;
    left: -200px;
    content: attr(data-text);
    white-space: nowrap;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.07);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
}

.thumb li.active::before
{
    opacity: 1;
}

.thumb li img
{
    max-width: 60px;
}

.sci
{
    position: absolute;
    bottom: 30px;
    display: inline-table;
    gap: 20px;
}

.sci li
{
    list-style: none;
}

.sci li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}



@media (max-width: 500px)
{
    .bg::before
    {  
        display: none;
    }

    .row .column
    {
        width: 100%;
    }

    .content .textBox2
{
    position: absolute;
    top: -10%;
    font-size: 2em;
    color: #fff;
    max-width: 600px;
}

.offer_explanation {
    position: absolute;
    bottom: -17%;
    font-size: 1em;
    color: #fff;
    max-width: 600px;
}

    .bg
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: contain;
    }

    header
    {
        padding: 20px;
    }

    section
    {
        padding: 20px;
        padding-bottom: 120px;
    }

    .content
    {
        flex-direction: column;
        margin-top: 100px;
    }

    .content .textBox
    {
        max-width: 100%;
    }

    .content .textBox h2 
    {
        font-size: 2.5em;
        margin-bottom: 15px;
        color: rgb(102, 101, 101);
    }

    .content .textBox p
    {
        color: rgb(102, 101, 101);
    }

    .content .textBox a
    {
        color: white;
        background-color: #01172b;
    }

    .content .imgBox
    {
        max-width: 100%;
        justify-content: center;
    }

    .content .imgBox img
    {
        max-width: 300px;
    }


    .thumb
    {
        left: 30%;
    }

    .thumb li
    {
        margin: 0 3px;
        height: 40px;
    }

    .thumb li img
    {
        max-width: 40px;
    }

    .thumb li::before
    {
        position: absolute;
        top: -150px;
        left: 0;
        font-size: 6em;
    }

    header .navigation1
    {
        display: none;
    }

    .content .textBox a
    {
        margin-bottom: 10px;
    }

    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
    }

    header .logo1
    {
        font-size: 1em;
    }
  
    .ryan_logo_header
    {
        width: 20%;
        border-radius: 60%;
    }
}